<h1>Hi!</h1>

<p>To active your account, please visit the following link</p>

<a href="{{ front_end }}/auth/active-account/{{ token }}">{{ front_end }}/auth/active-account/{{ token }}</a>

This link will expire in 15 minutes.

Cheers!