{% extends 'base.html.twig' %}


{% block title %}Messenger | Back{% endblock %}

{% block body %}
<section id="documentations">

    <nav class="navbar navbar-dark bg-transparent p-4">
        <div class="container-fluid">
            <span></span>
            <a href="{{ logout_path(key = null) }}" class="logout text-light">Se deconnecter</a>
        </div>
    </nav>

    <main>
        <div class="container mt-3">
            {% for data in datas %}
                {% include './documentations/components/_block.html.twig' with { data } %}
            {% endfor %}
        </div>
    </main>

</section>
{% endblock %}